html,
body {
	height: 100%;
}

body {
	font-family: $OpenSans;
	font-size: 16px;
	line-height: 140%;
	background-color: #fff;
	color: #000;
}

.container {
	max-width: 1320px;
	margin: 0 auto;
	padding: 0 15px;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}