html,
body {
	height: 100%;
	min-height: 100%;
}

body {
	font-family: $OpenSans;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.4;
	background-color: #fff;
	color: $colorMain;
	letter-spacing: 0.03em;
}

.main-container {
	max-width: 1320px;
	margin: 0 auto;
	padding: 0 15px;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.content {
	flex: 1 1 auto;
}

.logo {
	display: inline-block;
}

.title {
	font-family: $Ruda;
	font-size: 32px;
	line-height: 1.4;
	font-weight: 600;
	text-transform: uppercase;
	color: $colorTitle;
	margin-bottom: 30px;
}

.btn {
	font-size: 18px;
	line-height: 130%;
	color: #fff;
	letter-spacing: 0.03em;
	padding: 12px 24px;
	background-color: $colorAccent;
	border-radius: 6px;
	transition: background-color 0.4s ease, color 0.4s ease, box-shadow 0.4s ease;

	&:focus {
		box-shadow: 0 0 0 4px #E0EDCF;
	}

	&:hover {
		background-color: #4D810C;
	}

	&:active {
		box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
		color: rgb(255, 255, 255, 0.5);
	}
}

.btn-mixitup {
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	padding-bottom: 5px;
	position: relative;
	overflow-x: hidden;

	&::before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 3px;
		background-color: #E0EDCF;
		transform: translateX(-100%);
		transition: transform 0.3s ease;
	}

	&:hover::before {
		transform: translateX(0)
	}

	&:focus,
	&:active {
		&::before {
			transform: translateX(0)
		}
	}
}

.link-more {
	display: inline-block;
	padding: 12px 24px;
	border-radius: 6px;
	background-color: #fff;
	border: 1px solid $colorAccent;
	color: $colorAccent;
	font-size: 18px;
	line-height: 1.3;
	transition: box-shadow 0.4s ease, background-color 0.4s ease, color 0.4s ease;

	&:focus {
		box-shadow: 0 0 0 4px rgba(99, 166, 14, 0.5);
	}

	&:hover {
		background-color: #EFF6E7;
		box-shadow: none;
	}

	&:active {
		box-shadow: inset 0 10px 4px rgba(0, 0, 0, 0.1);
		color: rgba(99, 166, 14, 0.5);
	}
}

.breadcrambs {
	font-size: 14px;
	line-height: 1.2;
	background-color: #F6F6F6;
	margin-bottom: 48px;

	&__inner {
		padding: 24px 0;
		display: flex;
		align-items: center;
	}

	&__item {
		position: relative;
		margin-right: 16px;

		&:first-child {
			&:before {
				display: none;
			}
		}

		&::before {
			content: '';
			position: absolute;
			left: -16px;
			bottom: 1px;
			width: 15px;
			height: 18px;
			background-repeat: no-repeat;
			background-size: initial;
			background-position: center;
			background-image: url('../images/catalol-page/chevron.svg');
			transform: rotate(90deg) scale(0.7);
		}
	}

}

// ====================RANGE_SLIDER=====================
.irs--flat {
	.irs-single {
		display: none;
	}

	.irs-line {
		top: 73px;
		background-color: $colorAccent;
		height: 2px;
		background-color: #c4c4c4;
	}

	.irs-min,
	.irs-max {
		// visibility: hidden !important;
		display: none;
	}

	.irs-from,
	.irs-to {
		position: absolute;
		display: flex;
		width: 80px;
		height: 40px;
		justify-content: center;
		align-items: center;
		font-size: 16px;
		line-height: 1;
		color: $colorMain;
		background-color: #F6F6F6;
		border: 1px solid #C1C1C1;
		border-radius: 3px;
		visibility: visible !important;

		&::before {
			position: absolute;
			left: -21px;
			display: inline-block;
			bottom: 10px;
			width: 18px;
			height: 19px;
			margin-left: 0;
			overflow: visible;
			border: none;
			font-size: 16px;
			line-height: 1.2;
			font-family: $Ruda;
			color: #C1C1C1;
		}

		&::after {
			position: absolute;
			right: -14px;
			color: #C1C1C1;
		}
	}

	.irs-from {
		left: 42px !important;

		&::before {
			content: 'от';
		}

		&::after {
			content: '₽';
		}
	}

	.irs-to {
		left: 186px !important;

		&::before {
			content: 'до';
		}

		&::after {
			content: '₽';
		}
	}

	.irs-bar {
		top: 73px;
		height: 2px;
		background-color: $colorAccent;
	}

	.irs-handle {
		display: inline-block;
		width: 18px;
		height: 18px;
		background-color: $colorAccent;
		border-radius: 50%;
		top: 65px;

		i:first-child {
			display: none;
		}
	}
}

// ====================S=Select-style=====================
.jq-selectbox__select {
	background: #fff;
	padding: 15px 42px 15px 11px;
	height: auto;
	box-shadow: none;
	border-radius: 3px;
	border: 1px solid #C1C1C1;
}

.jq-selectbox__trigger {
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;

	&-arrow {
		position: static;
		border: none;
		width: 12px;
		height: 10px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: initial;
		background-image: url('../images/catalol-page/chevron.svg');
		transform: rotate(-180deg);
	}
}

.jq-selectbox__select-text {
	font-size: 14px;
	line-height: 1.2;
	color: $colorMain;
}

.jq-selectbox__dropdown {
	top: 46px;
}




// ===================ICONS-SPRITE======================
.icon-truck {
	display: inline-block;
	width: 32px;
	height: 22px;
	fill: #fff;
}

.icon-phone {
	display: inline-block;
	width: 22px;
	height: 22px;
	fill: #fff;
}

.icon-heart {
	display: inline-block;
	width: 32px;
	height: 28px;
	fill: #c1c1c1;
	transition: fill 0.4s ease;
}

.icon-cart {
	display: inline-block;
	width: 16px;
	height: 16px;
	fill: #fff;
	transition: fill 0.4s ease;
}

.icon-search {
	display: inline-block;
	width: 20px;
	height: 20px;
	fill: $colorAccent;
}

.icon-btn-list {
	display: inline-block;
	width: 35px;
	height: 35px;
	fill: #c1c1c1;
	transition: fill 0.4s ease;
}

.icon-btn-grid {
	display: inline-block;
	width: 35px;
	height: 35px;
	fill: #c1c1c1;
	transition: fill 0.4s ease;
}

.icon-chevron {
	display: inline-block;
	width: 20px;
	height: 20px;
	fill: #C1C1C1;

	&--left {
		transform: rotate(-90deg);
	}

	&--right {
		transform: rotate(90deg);
		fill: #505050;
	}
}