// Шрифты==================================================
$OpenSans: 'Open Sans', sans-serif;
$Ruda: 'Ruda', sans-serif;


// Цвета==================================================
$colorMain:#505050 ;
$colorTitle: #121212;
$colorAccent:#63A60E;
$colorBg: #31352B;
$colorRed: #CF3E3B;
$colorOrange: #FF7A00;
$colorYellow: #FFB800;
$colorGrey: #C1C1C1;



// Мексины==================================================
%bgcontain {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
%bgcover {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

%btnAnim {
	transition: background-color 0.4s ease, color 0.4s ease, box-shadow 0.4s ease;

	&:focus {
		box-shadow: 0 0 0 4px #E0EDCF;
	}

	&:hover {
		background-color: #4D810C;
	}

	&:active {
		box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
		color: rgb(255, 255, 255, 0.5);
	}
}
